boto==2.40.0
certifi==2017.7.27.1
chardet==3.0.4
ChatterBot==0.7.6
chatterbot-corpus==1.0.1
click==6.7
cryptography==1.7.1
Django==1.11.5
duplicity==0.7.6
enum34==1.1.6
Flask==0.12.2
future==0.16.0
gunicorn==19.7.1
gyp==0.1
idna==2.6
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.9.6
jsondatabase==0.1.7
keyring==10.3.1
keyrings.alt==2.2
lockfile==0.12.2
MarkupSafe==1.0
ndg-httpsclient==0.4.2
nltk==3.2.4
oauthlib==2.0.3
prompt-toolkit==1.0.15
pyasn1==0.1.9
pycrypto==2.6.1
pygobject==3.22.0
pymessenger==0.0.7.0
pymongo==3.5.1
pyOpenSSL==16.2.0
python-cloudfiles==1.7.10
python-dateutil==2.6.1
python-twitter==3.3
pytz==2017.2
PyWit==0.4.0
pyxdg==0.25
requests==2.18.4
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
ruamel.ordereddict==0.4.13
ruamel.yaml==0.15.0
SecretStorage==2.3.1
simplejson==3.11.1
six==1.11.0
SQLAlchemy==1.1.14
sqlparse==0.2.2
urllib3==1.22
virtualenv==15.1.0
wcwidth==0.1.7
Werkzeug==0.12.2
wit==4.3.0
